@model InternetShop_Dynamic.Models.Good

@{
    ViewBag.Title = "Product";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row" style="margin-top: 10px;">
    <div class="col-sm-5">
        <h3 class="text-center">Title</h3>
        <p style="font-size: larger;text-align: center;">@Model.Title</p>
        <div class="row">
            <div class="col-sm-10 col-sm-push-1" id="photo_container">

            </div>
        </div>
        @if (User.Identity.Name == "ystetskyy333@gmail.com")
        {
            using (Html.BeginForm("AddPhoto", "Main", FormMethod.Post, new { enctype = "multipart/form-data", @class = "form-horizontal", style = "margin: 15px; padding: 15px;background-color: lightgrey; border-radius: 3px;" }))
            {
             <input type="hidden" name="id" value="@Model.Id" />
             <p> Change photo: </p>
            <div class="form-group" style="padding: 5px">
                <input type="file" name="photo" class="form-control" />
            </div>
            <div class="form-group" style="padding: 5px">
                <button type="submit" class="btn btn-default btn-sm btn-block">Change</button>
            </div>
            }
        }
    </div>
    <div class="col-sm-4" style="background-color:gainsboro">
        <h3 class="text-center">Description</h3>
        <p style="font-size: larger;text-align: center;">@Model.Description</p>
        <br/>
        <br />
        <h4 class="text-center">Price: @Math.Round(Model.Price*(1 - Model.Discount/100),2) $</h4>
    </div>
    <div class="col-sm-3">
        <div class="form-horizontal" style="margin: 10px;">
            <div class="form-group">
                <label for="items" class="control-label col-sm-4">Items:</label>
                <div class="col-sm-6">
                    <input type="number" class="form-control input-sm" value="1" name="items" />
                </div>
            </div>
            @if (Model.IsInStock)
            {
            <div class="form-group">
                <button type="button" id="buy" class="btn btn-default btn-block">BUY</button>
            </div>
            }
            else
            {
                <div class="form-group">
                    <button type="button" id="buy" class="btn btn-default btn-block disabled">BUY</button>
                </div>
                <p class="text-center">Item is temporarily out of stock.</p>
            }
        </div>
    </div>
</div>

@section scripts{
<script type="text/javascript">

    $(document).ready(function () {
        $.ajax({
            method: 'GET',
            url: '/api/Goods/Photo/' + @Model.Id,
            contentType: 'application/json; charset=utf-8',
            success: function(res){
                $("#photo_container").append('<img src="' + res + '" alt="Image Not Found" class="img-responsive" />');
            },
            error: function(res){
                $("#photo_container").append('<img src="http://nabsw.org/global_graphics/album-placeholder.jpg" alt="Image Not Found" class="img-responsive" />');
            }
        });


        $("#buy").click(function(){
        
            if(parseInt($('input[name="items"]').val()) <= 0){
                alert("Number of items cannot be a non-positive value");
                return;
            }

            var toPass = {
                Item1: {
                    Id: '@Model.Id',
                    CategoryId: '@Model.CategoryId',
                    Title: '@Model.Title',
                    Description: '@Model.Description',
                    IsInStock: '@Model.IsInStock',
                    Price: '@Model.Price',
                    Discount: '@Model.Discount'
                },
                Item2: $('input[name="items"]').val()
            };
        
            $.ajax({
                method: 'POST',
                url: '/Basket/AddProductToBasket',
                contentType: 'application/json; charset=utf-8',
                data: JSON.stringify(toPass),
                success: function(res){
                    alert('Products successfully added to basket.');
                },
                error: function(res){
                    alert(res.responseText);
                }
            });
        });
    });

</script>        
}